
<% if logged_in? %>
  <% if current_student %>
    Student logged in as: <%= current_student.name %>
  <% else %>
    Tutor logged in as: <%= current_tutor.name %>
  <%end%>
<% end %>
<br>
<h1>All students</h1>
<br><br>

<% Student.all.each do |student| %>
  <%= student.name %>
  <%= link_to 'Show', student %>
  <%= link_to 'Edit', edit_student_path(student) %>
  <br>
<% end %>
<%= link_to 'All tutors', tutor_index_path %>
<br>
<%= link_to 'Log Out', logout_path %>