
<div class="col-md-12" style="margin-top:40px">
  <div class="main-box clearfix profile-box-menu">
    <div class="main-box-body clearfix">
      <div class="profile-box-header lightblue-bg clearfix">
        <div style="position:absolute;right:30px">
          <%= link_to 'Edit', edit_student_path(@user), class: 'btn btn-success' %>
        </div>
        <img src="<%= @user.image %>" alt="" class="profile-img img-responsive" />
        <h2 style="font-size:1.5em"><%= @user.name.split.first%></h2><br>
        <h2 style="padding: 0 0 0 0; font-size:1.5em"><%= @user.name.split.last %></h2>
        <div class="job-position" style="font-size: 1.3em">
          Student
        </div>
      </div>
      <div class="profile-box-content clearfix">
        <ul class="menu-items">
          <li>
            <a href="mailto:<%= @user.email %>" class="clearfix">
              <i class="fa fa-envelope fa-lg"></i> <strong>Email</strong>
              <span class="pull-right">
                <%= @user.email %>
              </span>
            </a>
          </li>
          <li>
            <a href="<%= @user.github %>" class="clearfix">
              <i class="fa fa-link fa-lg"></i> <strong>GitHub</strong>
              <span class="pull-right">
               <%= @user.github.split('/').pop %>
              </span>
            </a>
          </li>
<!--           Start Slack -->
          <% if @user.slack != "" %>
            <li>
              <a href="<%= @user.slack %>" class="clearfix">
                <i class="fa fa-link fa-lg"></i> <strong>Slack</strong>
                <span class="pull-right">
                 <%= @user.slack %>
                </span>
              </a>
            </li>
          <% end %>
<!--           End Slack -->
        </ul>
      </div>
    </div>
  </div>
</div>
