<h1>Current Appointments</h1>
<br>

<h2>Pending Appointments</h2>
<% Appointment.where(confirmed: false).all.each do |appointment| %>
  <% if current_tutor %>
    <%= appointment.students.first.name %>
  <% else %>
    <%= Tutor.find(appointment.tutor_id).name %>
  <% end %>
  <%= link_to 'Show', appointment %>
  <br>
<% end %>

<h2>Confirmed Appointments</h2>
<% Appointment.where(confirmed: true).all.each do |appointment| %>
  <%= appointment.start_time %> to <%= appointment.end_time %>
  <%= link_to 'Show', appointment %>
  <br>
<% end %>
<br>

<% if current_student %>
  <h1>Make a New Appointment</h1>
  <%= form_tag('/appointments/search') do %>
    <h3>What do you need help with?</h3>
    <%= collection_check_boxes(:skills, :skill_ids, Skill.all, :id, :name) do |b| %>
    <div class="checkbox-nice checkbox-inline">
      <%= b.check_box %>
      <%=  b.label(class: "checkbox-inline") %>
     </div>
    <% end %>


    <h3>When would you like to meet with a tutor?</h3>
    Date: <input type="date"></input><br><br>
    Time: <input type="time"></input><br><br>
    Number of Hours: <input type="number" value="2"></input><br><br>
    <div><%= submit_tag 'Search for Available Tutors' %></div>
  <% end %>
<% end %>

<div align="center">
<% if logged_in? %>
  <% if current_student %>
    Student logged in as: <%= current_student.name %>
    <%= link_to 'Show', current_student %> |
    <%= link_to 'Edit', edit_student_path(current_student) %> |
    <%= link_to 'Log Out', logout_path %>
  <% elsif current_tutor %>
    Tutor logged in as: <%= current_tutor.name %>
    <%= link_to 'Show', current_tutor %> |
    <%= link_to 'Edit', edit_tutor_path(current_tutor) %> |
    <%= link_to 'Log Out', logout_path %>
  <%end%>
<% else %>
    Not logged in.
<%end%>
</div>