<h1>Search for Appointment</h1>
<br>
<%= link_to 'All tutors', tutor_index_path %>
<div style="width:100%;">
<% if logged_in? %>
  <% if current_student %>
    Student logged in as: <%= current_student.name %>
    <%= link_to 'Show', current_student %> |
    <%= link_to 'Edit', edit_student_path(current_student) %>
  <% elsif current_tutor %>
    Tutor logged in as: <%= current_tutor.name %>
    <%= link_to 'Show', current_tutor %> |
    <%= link_to 'Edit', edit_tutor_path(current_tutor) %>
  <%end%>
<% else %>
    Not logged in.
<%end%>
</div>

<% Appointment.all.each do |appointment| %>
  <%= appointment.start_time %> to <%= appointment.end_time %>
  <%= link_to 'Show', appointment %>
  <br>
<% end %>


<% if logged_in? %>
  <%= link_to 'Log Out', logout_path %>
<% end %>

<%= form_tag('/appointments/search') do %>

  <ul>
  <%= collection_check_boxes(:skills, :skill_ids, Skill.all, :id, :name) do |b| %>
  <li>
    <%= b.label { b.check_box + b.text } %>
   </li>
  <% end %>
  </ul>

  <ul>
  <%= collection_check_boxes(:windows, :window_ids, Window.all, :id, :name) do |b| %>
  <li>
    <%= b.label { b.check_box + b.text } %>
   </li>
  <% end %>
  </ul>

  <div><%= submit_tag 'Search' %></div>
<% end %>