<p>The following tutors have experience in <%= Appointment.list_skills_in_sentence(@skills_needed) %> and are usually free on <%= Appointment.list_windows_in_sentence(@windows_needed) %>.</p>

<%= form_tag('/appointments/book') do %>
	<ul>
		<% @windows_needed.each do |window_needed| %>
			<li>
				<% window = Window.find(window_needed) %>
				<%= window.name %>
				<ul>
					<li>
						<% @tutor_matches.each do |tutor_match| %>
							<% match = Tutor.find(tutor_match) %>
							<% if match.windows.include?(window) %>
								<%= match.name %>
								<%= hidden_field_tag :tutor, match.id %>
								<%= hidden_field_tag :window, window.id %>
								<%= submit_tag 'Book' %>
							<% end %>
						<% end %>
					</li>
				</ul>
			</li>		
		<% end %>
	</ul>
<% end %>