<% if logged_in? %>

<% if notice %>
  <p id="notice"><%= notice %></p>
  <br>
<% end %>

<div class="row space-bottom">

<h1>Current Appointments</h1>

<% if current_tutor %>
<!-- Begin Tutor-Only Portion -->
    <% if Appointment.user_appointments(@user).size == 0 %>
      <p>You do not have any current appointments.</p>
    <% else %>
    <div class="table-responsive clearfix">
    <table class="table table-hover">
    <thead>
    <tr>
    <th><span>Student</span></th>
    <th><span>Tutor</span></th>
    <th><span>Date</span></th>
    <th class="text-center"><span>Status</span></th>
    <th class="text-center"><span>Actions</span></th>
    </tr>
    </thead>
    <tbody>
      <% Appointment.confirmed_user_appointments(@user).each do |appointment| %>
      <tr>
      <td>
      <%= appointment.list_students %>
      </td>
      <td>
      <%= appointment.tutor.name %>
      </td>
      <td>
      <%= appointment.window.name %>
      </td>
      <td class="text-center">

        <% if appointment.confirmed %>
        <span class="label label-success">
          Confirmed
        </span>
        <% else %>
        <span class="label label-warning">
          Pending
        </span>
        <% end %>
      </td>
      <td class="text-center" style="width: 15%;">
        <% if appointment.confirmed %>
          <%= link_to("/appointments/#{appointment.id}/cancel", class: 'table-link',  data: { confirm: "Are you sure you want to cancel this appointment?" } ) do %>
          <button type="submit" class="btn-set btn-danger">Cancel</button>

          <% end %>
        <% else %>
          <%= link_to "/appointments/#{appointment.id}/confirm", class: 'table-link' do %>
          <span class="label label-primary">
            Confirm
          </span>

          <button type="submit" class="btn-set btn-success">Confirm</button>
          <% end %>
        <% end %>
      </td>
      </tr>
      <% end %>

      <% Appointment.unconfirmed_user_appointments(@user).each do |appointment| %>
      <tr>
      <td>
      <%= appointment.list_students %>
      </td>
      <td>
      <%= appointment.tutor.name %>
      </td>
      <td>
      <%= appointment.window.name %>
      </td>
      <td class="text-center">

        <% if appointment.confirmed %>
        <span class="label label-success">
          Confirmed
        </span>
        <% else %>
        <span class="label label-warning">
          Pending
        </span>
        <% end %>
      </td>
      <td class="text-center" style="width: 25%;">
        <% if appointment.confirmed %>
          <%= link_to("/appointments/#{appointment.id}/cancel", class: 'table-link',  data: { confirm: "Are you sure you want to cancel this appointment?" } ) do %>
            <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-close fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        <% else %>
          <%= link_to "/appointments/#{appointment.id}/confirm", class: 'table-link' do %>
          <button type="submit" class="btn-set btn-success">Confirm</button>
          <% end %>

          <%= link_to "/appointments/#{appointment.id}/decline", class: 'table-link' do %>
          <button type="submit" class="btn-set btn-danger">Decline</button>
          <% end %>  

        <% end %>
      </td>
      </tr>
      <% end %>
        </tbody>
        </table>
        </div>
    </ul>
    <% end %>
<!-- End Tutor-Only Portion -->
<% elsif current_student %>
<!-- Begin Student-Only Portion -->
    <% if Appointment.user_appointments(@user).size == 0 %>
      <p>You do not have any current appointments.</p>
    <% else %>
      <div class="table-responsive clearfix">
      <table class="table table-hover">
      <thead>
      <tr>
      <th><span>Student</span></th>
      <th><span>Tutor</span></th>
      <th><span>Date</span></th>
      <th class="text-center"><span>Status</span></th>
      <th class="text-center"><span>Cancel</span></th>
      </tr>
      </thead>
      <tbody>
      <% Appointment.user_appointments(@user).each do |appointment| %>
        <tr>
        <td>
        <%= appointment.list_students %>
        </td>
        <td>
        <%= appointment.tutor.name %>
        </td>
        <td>
        <%= appointment.window.name %>
        </td>
        <td class="text-center">
          <% if appointment.confirmed %>
          <span class="label label-success">
            Confirmed
          </span>
          <% else %>
          <span class="label label-warning">
            Pending
          </span>
          <% end %>
        </td>
        <td class="text-center" style="width: 15%;">
          <%= link_to("/appointments/#{appointment.id}/cancel", class: 'table-link',  data: { confirm: "Are you sure you want to cancel this appointment?" } ) do %>
          <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-close fa-stack-1x fa-inverse"></i>
          </span>
          <% end %>
        </td>
        </tr>
      <% end %>
      </tbody>
      </table>
      </div>
    </ul>
    <% end %>
<br><br>
  <div class="row space-bottom more-style">
  <h1>Make a New Appointment</h1>

  <h3>What do you need help with?</h3>

    <%= form_tag('/appointments/search') do %>
      <%= collection_check_boxes(:skills, :skill_ids, Skill.all, :id, :name) do |b| %>
      <div class="checkbox-nice checkbox-inline">
        <%= b.check_box %>
        <%=  b.label(class: "checkbox-inline") %>
       </div>
      <% end %>

  <h3>When would you like to meet with a tutor?</h3>

      <%= collection_check_boxes(:windows, :window_ids, Window.all, :id, :name) do |b| %>
        <div class="checkbox-nice checkbox-inline">
          <%= b.check_box %>
          <%= b.label(class: "checkbox-inline") %>
        </div>
        <br>
      <% end %><br>

      <div><%= submit_tag 'Search for Available Tutors', class: 'btn-set btn-default' %></div>

  <% end %>

<% end %>
</div>

<!-- End Student-Only Portion -->

<% else %>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <button type="submit" class="btn-set btn-primary col-xs-12 btn-github">
      <i class="fa fa-github"></i><a href="/student/new"> Student Login</a>
    </button>
  </div>
  <div class="col-xs-12 col-sm-6">
    <button type="submit" class="btn-set btn-primary col-xs-12 btn-github">
      <i class="fa fa-github"></i><a href="/tutor/new"> Tutor Login</a>
    </button>
  </div>
</div>


<% end %>